<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xe.demo.mapper.CompanyTypeMapper">
	<resultMap id="BaseResultMap" type="com.xe.demo.model.CompanyTypeEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="update_date" jdbcType="TIMESTAMP" property="update_date" />
		<result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
		<result column="user_id" jdbcType="INTEGER" property="user_id" />
	</resultMap>

	<insert id="addCompanyType" useGeneratedKeys="true" keyProperty="id">
		insert into company_type(name, status, update_date, create_date,userId)
		 values(#{name},#{status},#{update_date},#{create_date},#{userId})
	</insert>

	<select id="queryList" resultMap="BaseResultMap">
		select u.id,u.status,u.name,u.update_date,u.create_date,u.user_id
		from company_type u
		<if test="null != companytype.name"> where locate(#{companytype.name}, u.name) > 0</if>
		order  by u.create_date
	</select>

	<select id="queryByName" resultMap="BaseResultMap">
		select u.id,u.status,u.name,u.update_date,u.create_date,u.user_id
		from company_type u where u.name = #{name}
	</select>

</mapper>